body,html {
    margin: 0;
   width: 100%;
   font-family: equinor;
   height:100%;
   
  }
  
.wrapper{

display: grid;
height: 100vh;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;


    align-items: center;



}

